@use "./node_modules/@fullstacked/ui/ui.scss";
@use "./node_modules/@fullstacked/ui/values/colors.scss";
@use "./node_modules/@fullstacked/ui/values/spacing.scss";

html,
body {
    background-color: colors.$blue-dark;
    width: 100%;
}

$file-list-width: 300px;

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;

    #editor-container {
        flex: 1;
        height: 100%;
        overflow: hidden;
        display: flex;
        > ul {
            height: 100%;
            overflow: auto;
            list-style-type: none;
            padding: 0;
            margin: 0;
            width: $file-list-width;
            padding: spacing.$small spacing.$small 200px;

            > li {
                padding: spacing.$small;
                border-radius: 5px;

                &.active {
                    background-color: colors.$blue;
                }
            }
        }

        > div {
            width: calc(100% - $file-list-width);
            height: 100%;
            padding-bottom: 200px;
            overflow: auto;

            > .bn-container {
                width: 100%;
            }
        }
    }
}
.form {
    display: flex;
    gap: spacing.$medium;
    padding: spacing.$x-small spacing.$small;
    align-items: center;
}
